{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">
    <!-- <link href="{% static '/fonts/TTFirsNeue-Bold.ttf' %}"> -->
    <title>Сочи Парк</title>
</head>
<body>
  <img id="logo" src="{% static '/logos/sp.png' %}">
    <!-- <h1>АТТРАКЦИОНЫ</h1> -->
<div class="wrapper">
    <div class="container">

    {% for attraction in attraction_list %}
      <div class="child">
    <div class="a-box"> 
      {% if attraction.height %}<span class="badge_left">{{ attraction.height }}+</span>
      {% else%}<span class="badge_left" style="color: transparent; background-color: transparent; border: 0px;">-</span>
      {% endif %}
      
      {% if attraction.age %}<span class="badge_right">{{ attraction.age }}+</span>
      {% else%}<span class="badge_right" style="color: transparent; background-color: transparent; border: 0px;">-</span>
      {% endif %}
      <div class="img-container">
        <div class="img-inner">{% if attraction.picture.url %}<img src="{{ attraction.picture.url }}">{% endif %}</div>
      </div>
      <div class="text-container">
        <h3>{{ attraction.name }}</h3> </div>
      {% if attraction.info %}<div class="outsider">{{ attraction.info }}</div>{% endif %}
    </div>
  </div>
    {% endfor %}
    

</div>
</div>

<div class="bottom_text">
  <p>В случае ухудшения погодных условий некоторые аттракционы могут 
  прекратить свою работу для обеспечения безопасности гостей. На аттракционах 
  могут быть ограничения по антропометрическим данным. Данная информация носит
  рекламно-ознакомительный характер.
  <br>
  Актуальную информацию можно уточнить по тел. <b>8 800 100 33 39</b>

</p>

</div>
<!-- <div class="bottom_text"><p>&copy; 2013 &mdash; {% now "Y" %} АО "Сочи Парк"</p></div> -->

</body>
</html>

